{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col">
        <br>
        <h1>Vídeo: {{ video.filename }}</h1>
        <hr>
    </div>
</div>

<table id="informacion" class="table table-stripped">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ video.filename }}</td>
        <td>{{ video.date }}</td>
        <td>{{ video.status }}</td>
    </tr>
    </tbody>
</table>

{% if images %}
<button type="button" onclick="location.href='removevideo/{{ video.id }}'">Borrar vídeo</button>
{% endif %}

<div class="row">
    <div class="col">
        <br>
        <h1>Imágenes: </h1>
        <hr>
        {% if images %}

        {% for image in images %}
        <img src="{{url_for ('send_image', filename = image)}}" height="200" width="200"/>
        {% endfor %}

        {% else %}
        <p>El vídeo todavía se está procesando. Cuando termine, las capturas se mostrarán aquí.</p>
        {% endif %}
    </div>
</div>


{% endblock %}